.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    margin: 2% 4%;
  }
  
  .search-bar-wrapper {
    position: relative;
  }
  
  .search-bar-input {
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 350px;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .search-bar-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .search-bar-button:hover {
    color: #007bff;
  }